<!doctype html>
<html class="no-js" lang="">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>On the beach « Ships in the night »</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="styles.css">
</head>

<body>

    <div class="container">
        <img class="otb-logo" src="img/On-the-beach.svg" alt="On the beach" />

        <div class="ships-logo">
            <img src="img/Typemass.svg" alt="Ships in the night" />
        </div>

        <section>
            <article id="main-content">

                <p class="ex">
                    &laquo; Seeing you laugh and not knowing what you are laughing about. Seeing you cry and wanting to cry with you. Seeing someone look at you and feeling the weight of their stare. Seeing you over there and wishing you were here with me. &raquo;
                </p>

                <p>
                    <em>Ships in the night</em> is a series of love-letters-as-podcasts between artworks floating in the Next Wave Festival 2016. These fictional texts and recordings respond to the aesthetic and conceptual elements of the various projects they riff off to weave strange and generative conversations between each. Below is a list of projects that <em>Ships in the Night</em> has responded to, and a schedule for their release through the Festival. The project also includes live readings of some of these letters at West Space, Gertrude Contemporary and the Meat Market during the Festival (see right for details).

                </p>

                <p>
                    Subscribe to <em>Ships in the Night</em> on <a href="https://soundcloud.com/on-the-beach-podcast">Soundcloud</a>, <a href="https://itunes.apple.com/au/podcast/on-the-beach-podcast/id1108918775">iTunes</a>, or <a href="http://feeds.soundcloud.com/users/soundcloud:users:222866622/sounds.rss
                ">RSS</a>, and use these letters to map your own, perhaps more obscure journey through the festival&hellip;
                </p>

            </article>

            <aside>

                <p>Live readings—</p>

                <ul>
                    <li>West Space<br/>(to <em>The Fraud Complex</em>)<br/>Saturday 7 May, 2pm<br/></li>
                    <li>Gertrude Contemporary<br/>(to <em>Ua Numi Le Fau</em>)<br/>Tuesday 10 May, 5pm</li>
                    <li>Meat Market<br/>(to <em>Far From Here</em>)<br/>Friday 13 May, 2pm</li>
                </ul>

                <div class="logos">

                    <a href=""><img src="img/logos/nw.png" style="max-height:60px" /></a>
                    <a href=""><img src="img/logos/cv.png" /></a>
                    <a href=""><img src="img/logos/ozco.png" /></a>
                    <a href=""><img src="img/logos/mel.png" /></a>

                    <small><a target="blank" href="http://www.studioskiing.com.au/">Design by RM</a></small>
                </div>

            </aside>
        </section>

        <script id="eventTemplate" type="text/x-jsrender">
            <div class="event">



                <div class="inside">

                    <h3>{{:date}}</h3>

                    {{if mp3}}
                        <div class="mp3">{{:mp3}}</div>
                    {{/if}}

                    <h2>
                        <span>From</span> <a href="{{:from_link}}" target="_blank">{{:from}}</a><br/>
                        <span>to</span>   <a href="{{:to_link}}"   target="_blank">{{:to}}</a>
                        {{if script}}
                            <div class="script-link">
                                <span class="script-span">&nbsp;</span>
                                <a href="{{:script}}" target="_blank">
                                    Read script &rsaquo;
                                </a>
                            </div>
                        {{/if}}
                    </h2>


                </div>
            </div>
        </script>
        <div class="hover-chart"></div>
    </div>

    <div id="events">

    </div>

    <script type="text/javascript" src="https://cdn.firebase.com/js/client/2.4.2/firebase.js"></script>
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.2.1.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jsrender/0.9.75/jsrender.min.js"></script>

    <script type="text/javascript">

        var shipsRef = new Firebase("https://shipsinthenight.firebaseio.com/");
        var eventTemplate = $.templates("#eventTemplate"); // Get compiled template

        shipsRef.child("events").on("value", function(data) {
            $('#events').html('');
            $(data.val()).each(function(){
                var event = $(this)[0];
                var eventHtml = eventTemplate.render(event);
                $("#events").append(eventHtml);
            });
        });

        shipsRef.child("main_content").on("value", function(data) {
            $('#main-content').html(data.val());
        });

        var otbTimer;
        $(function(){

            $('html').on('mousemove touchstart', function() {

                clearTimeout(otbTimer);

                otbTimer = setTimeout(function(){
                    $('.hover-chart').fadeIn(1000);
                }, 6000);

                $('.hover-chart').fadeOut(1000);
            }).mousemove();

            $('.odp-close').click(function(){
                $('body').mousemove();
            });
        });

    </script>

    <script type="text/javascript">var odp_theme = "ships";</script>
	<script type="text/javascript" src="http://www.disappearing.us/client/odp-0.0.1.js"></script>

</body>

</html>
